[build]
  publish = "."
  command = ""

[[redirects]]
  from = "/api/*"
  to = "https://script.google.com/macros/s/AKfycbzPR9deONgiab4baaOlWtYcQRgPMLtUfoHZHf3QV1q4Zw1caGZx3KukA7OseF4oMh-e/exec/:splat"
  status = 200
  force = true
